.source-note {
  font-size: 0.8em;
  color: #666;
}

/* Add line break before H2 */
section.level2 {
  padding-top: 2em;
}

body h2:not(nav[role="doc-toc"] h2) {
  /* Pale blue background for H2 text */
  background-color: #C69BA7; /* Very light blue */
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

/* Horizontal line above H2 */
body h2:not(nav[role="doc-toc"] h2)::before {
  content: "";
  display: block;
  border-top: 2px solid #A86B7E;
  margin-bottom: 0.5em;
}

/* Horizontal line below H2 */
body h2:not(nav[role="doc-toc"] h2)::after {
  content: "";
  display: block;
  border-bottom: 2px solid #A86B7E;
  margin-top: 0.5em;
}

h3 {
  /* Space before H3 */
  margin-top: 2em;
  /* Line under H3 */
  display: inline-block;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
}

h4 {
  margin-top: 1.5em;
}

/* Remove breaks */
.h2-tight {
  margin-bottom: -2em;
}
.h3-tight {
  margin-bottom: -2em;
}
.h4-tight {
  margin-bottom: -1.5em;
}

/* Matplotlib images */
.figure-img {
  max-width: 100%;
  height: auto;
}

/* Breadcrumb items (i.e., page > page) */
.breadcrumb {
  border: 0px;
}
.quarto-secondary-nav nav.quarto-page-breadcrumbs a {
  color: #cad6dd;
}
.quarto-title-banner a {
  color: #cad6dd;
}
.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
  color: #cad6dd;
}

/* Navbar/sidebar toggle button background and text/icon color */
.quarto-secondary-nav .quarto-btn-toggle.btn {
  background-color: #660033;
  color: #ffffff;
  margin-right: 1rem !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.quarto-banner nav.quarto-secondary-nav {
  border-top: 1px solid #660033;
  border-bottom: 4px solid #660033;
}